@media screen and (min-width:768px){
    .first-section > .container{
        display:flex;
        flex-wrap:wrap;
    }
    .start-small-first{
        width:calc(90% / 3 );
        margin:10px auto;
        padding:20px;
    }

    .container > .dflex-double{
        width:calc(90% / 3 * 2 + 20px );
        margin:10px auto; 
    }
    .storyteller{
        flex-direction:row;
        border-radius:10px;
    }
    .testimonial-image{
        display:flex;
        align-self:center;
        width:20%;
        margin-right:10px;
    }
    #testimonial-title{
        width:100%;
    }
    .benefit-section-card{
        display:flex;
        flex-wrap:wrap;
    }
    .card-testimonial{
        width:40%;
    }
    .about-us{
        display:flex;
        align-items:center;
    }
    .about-us .about-us-text{
        width:75%;
    }
    .about-us .about-us-image{
        width:40%;
        margin-left:20px;
        margin-bottom:30px;
    }
   
}
@media screen and (min-width:992px){
    .image-section-second{
        min-height:200px;
        display:flex;
        justify-content:center;
        align-items: center;
        margin:0 auto;
    }
    .image-section-inside, .image-section-inside-bottom{
        width:20%;
    }
    .image-section-inside-bottom{
        margin:20px 0;
    }
    .about-us{
        display:flex;
        flex-direction:row-reverse;
    }
    .fa-bars{
        display:none;
    }
    .burger-menu{
        display:flex;
        flex-direction:row;
        border:2px solid yellow;
    }
    }
