@media screen and (min-width:780px){
    .first-main-row{
        display:flex;
        flex-wrap:wrap;
        margin:10px;
    }
    .first-row-item{
        width:60%;
        min-height:150px;
    }
    .start-small-first{
        width:30%;
        min-height:150px;
    }
    .testimonial-image{
        display:flex;
        align-self:center;
        width:20%;
        float:left;
        margin-right:10px;
    }
    #testimonial-title{
        width:100%;
    }
    .benefit-section-card{
        display:flex;
        flex-wrap:wrap;
    }
    .card-testimonial{
        min-height:150px;
        width:45%;
    }
    .about-us-text{
        display:flex;
        align-items:center;
    }
    .about-us-image{
        display:flex;
        flex-direction: column;
    }
}

@media screen and (min-width:992px){
    .image-section-second{
        min-height:200px;
        display:flex;
        justify-content:center;
        align-items: center;
        margin:0 auto;
    }
    .image-section-inside, .image-section-inside-bottom{
        width:20%;
    }
    .image-section-inside-bottom{
        margin:20px 0;
    }
    .fa-bars{
        display:none;
    }
    .burger-menu{
        display:flex;
        flex-direction:row;
        margin-right:30px;
        border:2px solid yellow;
    }
    }
