* { margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:block;
    margin:0 auto;
    padding-top:100px;
    width:100%;
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
}
.first-main-row{
    max-width:600px;
    margin:0 auto;
    overflow-x: hidden;
}
.primera{
    margin:0 auto;
}
.navbar{
    height:100px;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    background-color:#0084fd;
    justify-content: space-between;
    align-items: center;
    z-index:10;
}
.steelblue-color{
    color:#0084fd;
    text-align:center;
}
.lh-200{
    line-height:200%;
}
ul{
    list-style-type: none;
}
.header-button{
    display:none;
}
.burger-menu{
    display:none;
    padding:10px;
   margin:0 auto;
}
.burger-menu-list{
    margin-left:5px;
    margin-right:5px;
    font-size: 15px;
    padding:5px;
   
}
.header-button{
    padding:5px;
    margin-left:10px;
    border-radius:20%;
    font-size: 15px;
}
.logo{
    margin-left:50px;
    text-align:center;
}
.fa-bars{
    margin-right:50px;
}
.first-row-item{
    width:100%;
    text-align:center;
    background-color: aquamarine;
    border-radius:5%;
}
#start-item img{
  max-width:100%;}
.dflex-double{
    border-radius:5%;
    background-color: aquamarine;
    max-width:100%;
}
.phone-textimage{
    margin-left:20px;
    margin-top:30px;
}
.phone-header{
    color:#0084fd;
    margin-bottom:20px;
}
.phone-text-button{
    background-color:rgb(51, 51, 228);
    color:white;
    font-size: 15px;
    margin-top:20px;
   width:90%;
   border-radius: 20%;
   border:none;
}
.phone-text-button a{
    text-decoration: none;
    color:white;
}
.start-small-first{
    margin-top:10px;
    width:100%;
    padding:10px;
    background-color: aquamarine;
    border-radius:5%;
}
.main-row-images{
    width:100%;
    text-align:center;
    font-size:500%;
    margin-top:20px;
}
.image-section-second{
    width:100%;
    background-color:#9792e4;
    text-align: center;
    line-height: 100%;
    padding:20px;
    margin-top:10px;
}
.big-figure{
    width:100%;
    margin:20px auto;
}
.big-figure img{
    width:100%;
}
.image-section-inside > .big-figure{
    margin-bottom:68px;
}
.image-section-inside{
    line-height:150%;
    color:white;
}
.image-section-inside-bottom > h2{
    margin-bottom:30px;
}
.image-section-inside > h2{
    margin-bottom: 30px;
}
.image-section-inside-bottom{
    margin-bottom:50px;
    line-height:150%;
    background-color:white;
}
.fa-arrow-down{
    background-color: #9792e4;
    font-size: 20px;
    margin-top: 10px;
    padding:10px;
    border-radius: 50%;
}
.border-rad-25{
    border-radius:25%;
}
.border-rad-50{
    border-radius:50%;
}
.header-testimonial{
    text-align: center;
    line-height: 200%;
    margin:20px 10%;
}
.header-testimonial > h1{
    color:#9792e4;
    font-size:40px;
}
.header-testimonial > h5{
    text-align: center;
}
#testimonial-presentation{
    margin:30px 0;
}
.storyteller{
    width:100%;
    margin:20px auto;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color:#9792e4;
    border-radius:10px;
}
.testimonial-image{
    width:100%;
}
.comment{
    width:60%;
    color:white;
}
.comment > .fa-quote-left{
    color:white;
}
.testimonial-image img{
    border-radius:50%;
    width:100%;
    padding:10px;
}
#testimonial-title{
    color:white;
}
.benefit-section-card{
    background-color: #9792e4;
    margin:20px auto;
    text-align:center;
    padding:20px 0;
    display:block;
}

.card-testimonial{
    width:90%;
    margin:40px auto;
    padding:20px;
    background-color:white;
    text-align:left;
    line-height: 150%;
    color:#9792e4;
    
}
.cards-title{
    margin-top:20px;
    margin-bottom:10px;
    line-height:200%;   
}
.cards-title > h2{
    font-size: 60px;
    margin-bottom:20px;
}
.card-text{
    width:90%;
    margin:0 auto;
}
.testimonial-button{
    background-color:#9792e4;
    font-size:20px;
    width:36%;
    margin:20px 0;
    padding:5px;
    color:white;
    border:none;
    border-radius: 12%;
}
.about-us{
    text-align:left;
    width:80%;
    min-height:200px;
    margin:20px auto;
    border:1 px solid black;
}
.about-us-text > h1 , blockquote{
    color:#9792e4;
    margin-bottom:10px;
}
.owner-image{
    width:100%;
    min-height:200px;
    margin:20px auto;
    border-radius: 50%;
    position:relative;
}
#commas-owner{
    position:absolute;
    top:100%;
    left:20%;
    color:red;
}
.advertise-section{
    width:100%;
    background-color:#9792e4;
    margin:0px auto;
    text-align:center;
    padding:10px;
    line-height:150%;
}
#advertise-text{
    margin:20px 0;
}
.footer-finale{
    background-color: #222;
    color:white;
    width:100%;
    min-height:200px;
}

.text-footer{
    text-align:center;
    width:80%;
    padding-top:30px;
    padding-left:20%;
}